<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <title>Comila HTML CSS Template</title>
    <!--
    Comila Template
    http://www.templatemo.com/tm-490-comila
    -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">


     <!--Home-->
{#    <link rel="stylesheet" href="../../static/home/assets/css/main.css"/>#}
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <noscript>
           <link rel="stylesheet" href="../../static/home/assets/css/noscript.css"/>
    </noscript>

    <!-- stylesheets css -->
    <link rel="stylesheet" href="../../static/test/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/test/css/animate.min.css">

    <link rel="stylesheet" href="../../static/test/css/et-line-font.css">
    <link rel="stylesheet" href="../../static/test/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../static/test/css/vegas.min.css">
    <link rel="stylesheet" href="../../static/test/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Rajdhani:400,500,700' rel='stylesheet' type='text/css'>

    <!---------------------->


    <!--菜单-->
    <link rel="stylesheet" type="text/css" href="../../static/menu/css/linkstyles.css"/>


    <!--播放按钮特效-->
    <style type="text/css">
        div img {
            cursor: pointer;
            transition: all 0.6s;
        }

        div img:hover {
            transform: scale(1.4);
        }
    </style>


</head>
<body>

<!-- preloader section -->
<section class="preloader">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</section>

<!-- home section -->
<section id="home">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <div class="home-thumb">
                    <h1 class="wow fadeInUp" data-wow-delay="0.4s">Hello, we are comila</h1>
                    <h3 class="wow fadeInUp" data-wow-delay="0.6s">We are almost <strong>ready to launch</strong> our
                        <strong>new creative</strong> website!</h3>
                    <a href="#" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs"
                       data-wow-delay="0.8s">Let's begin</a>

                </div>
            </div>

        </div>
    </div>
    <!--右上角菜单栏-->
    <div style="position:absolute;right: 10px;top: 10px">
        <a href="#" class="link link--yaku" style="color:white;font-family:华文行楷;margin-right: 30px">
            <span>主</span><span>页</span>
        </a>
        <a id="abouts" href="#about" class="link link--yaku" href="#"
           style="color:white;font-family:华文行楷;margin-right: 30px">
            <span>关</span><span>于</span>
        </a>
        <a href="register" style="color: white; font-family:华文行楷;" class="link link--yaku" href="#">
            <span>客</span><span>服</span><span>专</span><span>区</span>
        </a>
    </div>
</section>

 <!-- Main -->
    <div id="main">
        <!-- Video -->
        <article id="Video" style="top:20px;padding: 20px 820px 10px 20px;">
            <h2 class="major">Video</h2>
            <iframe height="550px" width="800px" src="http://share.acg.tv/flash.swf?aid=1605364&page=1"></iframe>

        </article>

        <!-- About -->
        <article id="about" style="top: 200px">
            <h2 class="major">About</h2>
            <p style="color:white;text-align: center">欢迎使用</p>
        </article>
    </div>

<!-- footer section -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h2>comila</h2>
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus lacus nulla, eget varius
                        justo tristique ut. Etiam a tellus magna.</p>
                    <p class="copyright-text">Copyright &copy; 2016 Your Company <br>
                        Designed by <a rel="nofollow" href="http://www.google.com/+templatemo" target="_parent">Templatemo</a>
                    </p>
                </div>
            </div>

            <div class="col-md-1 col-sm-1"></div>

            <div class="col-md-4 col-sm-5">
                <h2>Our Studio</h2>
                <p class="wow fadeInUp" data-wow-delay="0.6s">
                    120-240 aliquam augue libero,<br>
                    Convallis in vulputate 10220 <br>
                    San Francisco, CA, USA
                </p>
                <ul class="social-icon">
                    <li><a href="#" class="fa fa-facebook wow bounceIn" data-wow-delay="0.9s"></a></li>
                    <li><a href="#" class="fa fa-twitter wow bounceIn" data-wow-delay="1.2s"></a></li>
                    <li><a href="#" class="fa fa-behance wow bounceIn" data-wow-delay="1.4s"></a></li>
                    <li><a href="#" class="fa fa-dribbble wow bounceIn" data-wow-delay="1.6s"></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>


<!-- javscript js -->
<script src="../../static/test/js/jquery.js"></script>
<script src="../../static/test/js/bootstrap.min.js"></script>

<script src="../../static/test/js/vegas.min.js"></script>

<script src="../../static/test/js/wow.min.js"></script>
<script src="../../static/test/js/smoothscroll.js"></script>
<script src="../../static/test/js/custom.js"></script>
<!--Home-->

<script src="../../static/home/assets/js/skel.min.js"></script>
<script src="../../static/home/assets/js/util.js"></script>
<script src="../../static/home/assets/js/main.js"></script>




</body>
</html>