<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="margin-left: 20%;margin-top: 15%">
    <img src="http://s.stu.126.net/res/images/404/404.png">
    <a href="http://127.0.0.1:5000/" class="btn btn-info"
       style="width: 15%;margin-left: 10%;padding-top: 1%;padding-bottom: 1%">返回首页</a>
</div>
</body>
</html>