<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>注册 - Cc - Have a Nice Day</title>
    <meta author="Cc">
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <link rel="stylesheet" type="text/css" href="../static/login/style/register-login.css">
    <link rel="stylesheet" type="text/css" href="../static/login/css/bootstrap.min.css">
    <style>
        .transButton {
            background-color: transparent;
            border: 0;
            color: #6FC0FF;
        }
    </style>
</head>
<body onload="load()">
<div id="box"></div>
<div class="flash-box" id="flash-box">
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}">
            <button id="flash" type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
    {% endfor %}
</div>

<form name="bigform" id="bigform" method="post" action="send_mail">

    <div class="validate-box" id="validate-box">
        <a id="validate_email" href="#" onclick="validate_email()" onmouseover="this.style.color='red'"
           onmouseout="this.style.color='blue'">检查邮箱是否可用</a><br>
        <div style="margin-top: 70px" id="valiate_font_wait">
            <font align="left" id="validate_password" color="#1e90ff">等待验证</font>
        </div>
        <div style="margin-top: 70px" id="valiate_font_not" hidden>
            <font align="left" color="red">2次密码不一致</font>
        </div>
        <div style="margin-top: 70px" id="valiate_font_yes" hidden>
            <font align="left" color="#32cd32">密码一致</font>
        </div>
        <div style="margin-top: 70px" id="valiate_font_illegal" hidden>
            <font align="left" color="#8a2be2">密码应包含字母和数字，长度在6-16位</font>
        </div>
        <div style="margin-top: 70px" id="valiate_font_legal" hidden>
            <font align="left" color="#1e90ff">密码合法</font>
        </div>

        <div style="position:absolute;margin-top: 80px" id="sent_mail_div">
            <input type="button" Class="transButton" value="获取验证码" name="send_email_button" id="send_email_button"
                   onclick="showtime(30)" onmouseover="this.style.color='#ED5A8C'"
                   onmouseout="this.style.color='#6FC0FF'">

        </div>
    </div>
</form>

<div class="cent-box register-box">
    <div class="cent-box-header">
        <h1 style="font-size: 50px;color: #00adee">Cc</h1>
        <h2 class="sub-title">生活热爱分享 - Have a Nice Day</h2>
    </div>
    <div class="cont-main clearfix">
        <div class="index-tab">
            <div class="index-slide-nav">
                <a href="login">登录</a>
                <a href="register" class="active">注册</a>
                <div class="slide-bar slide-bar1"></div>
            </div>
        </div>

        <form method="post" action="register" name="smallform">
            <div class="login form">
                <div class="group">
                    <div class="group-ipt email">
                        <input type="email" name="email" id="email" class="ipt" placeholder="邮箱地址" required
                               value={{ var1 }}>
                    </div>
                    <div class="group-ipt user">
                        <input type="text" name="nickname" id="nickname" class="ipt" placeholder="设置昵称"
                               required value={{ var2 }}>
                    </div>
                    <div class="group-ipt password">
                        <input type="password" onkeyup="CheckPassWord()" name="password" id="password"
                               class="ipt"
                               placeholder="设置登录密码"
                               required>
                    </div>
                    <div class="group-ipt password1">
                        <input type="password" onkeyup="validate_password()" name="password_2" id="password_2"
                               class="ipt" placeholder="重复密码"
                               required>
                    </div>
                    <div class="group-ipt verify">
                        <input type="text"  name="verify" id="verify" class="ipt"
                               placeholder="输入验证码" required value={{ var4 }}>
                    </div>
                </div>
            </div>

            <div class="button">
                <button type="submit" class="login-btn register-btn" id="button">注册</button>
            </div>
        </form>
    </div>
</div>


<div class="footer">
    <p>Cc - Have a Nice Day</p>
    <p>Designed By <a href="Cc">Cc</a> 2017</p>
</div>


<script src='../static/login/js/particles.js' type="text/javascript"></script>
<script src='../static/login/js/background.js' type="text/javascript"></script>
<script src='../static/login/js/jquery.min.js' type="text/javascript"></script>
<script src='../static/login/js/layer/layer.js' type="text/javascript"></script>
<script src='../static/login/js/index.js' type="text/javascript"></script>
<script src="../static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../static/login/js/jquery-3.2.1.min.js" type="text/javascript"></script>

<script type="text/javascript">

    {#    消息闪现淡出，校验信息隐藏#}
    function load() {
        $("#flash-box").fadeOut(4000);
    }
    {#    跳转校验邮箱url#}
    function validate_email() {
        var str = $('#email').val();
        if (!str)
            str = "NULL";
        var url = "/validate/" + str;
        window.location.href = url;
        return false;
    }

    {#  验证密码强度  #}
    function isPassword(password) {
        var regex = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}/;
        return regex.test(password);
    }

    function CheckPassWord() {
        if (isPassword($('#password').val())) {
            $("#valiate_font_not").hide();
            $("#valiate_font_yes").hide();
            $("#valiate_font_wait").hide();
            $("#valiate_font_illegal").hide();
            $("#valiate_font_legal").show();
        } else {
            $("#valiate_font_not").hide();
            $("#valiate_font_yes").hide();
            $("#valiate_font_wait").hide();
            $("#valiate_font_illegal").show();
            $("#valiate_font_legal").hide();
        }
    }

    {#    校验密码是否一致#}
    function validate_password() {

        if ($('#password').val() || $("#password_2").val()) {
            if ($('#password').val() != $("#password_2").val()) {

                $("#valiate_font_not").show();
                $("#valiate_font_yes").hide();
                $("#valiate_font_wait").hide();
                $("#valiate_font_illegal").hide();
                $("#valiate_font_legal").hide();

            }
            else {
                $("#valiate_font_yes").show();
                $("#valiate_font_not").hide();
                $("#valiate_font_wait").hide();
                $("#valiate_font_illegal").hide();
                $("#valiate_font_legal").hide();
            }
        }
    }

    {#    校验邮箱地址#}
    function isEmail(str) {
        var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
        return reg.test(str);
    }
    {#    倒计时#}
    function showtime(t) {
        if (isEmail($("#email").val())) {
            document.bigform.send_email_button.disabled = true;
            for (i = 1; i <= t; i++) {
                window.setTimeout("update_p(" + i + "," + t + ")", i * 1000);
            }
        }
        else {
            alert("邮箱地址不合法！");
        }

    }
    function update_p(num, t) {
        if (num == t) {
            document.bigform.send_email_button.value = " 重新发送 ";
            document.bigform.send_email_button.disabled = false;
        }
        else {
            printnr = t - num;
            document.bigform.send_email_button.value = printnr + "秒后重新发送";
        }
    }

</script>
<script>
    $(function () {
        $("#bigform").submit(function () {
            return false;
        }); // 禁用 form 提交，页面不会跳转
        $("#send_email_button").click(function () {
            var url = $('#bigform').attr('action'); // 取Form中要提交的链接
            var param = {}; // 组装发送参数，下面只是举个例，请按需要修改
            param['email_address'] = $('#email').val();
            param['verify'] = $('#verify').val();
            param['nickname'] = $('#nickname').val();
            postCfg = {
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            };
            $.post(url, param, postCfg);
        });
    });
</script>

</body>
</html>